*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #141414;
}

h1{
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  color: #EBF5EE;
  padding-bottom: 3vh;
}

h2{
  font-weight: 500;
  font-size: 32px;
  line-height: 39px; 
  padding-bottom: 5vh;
}

span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  /* Gray/50 */
  color: #5E6661;
}

.baseText{
  font-family: 'Inter';
  font-style: normal; 
  color: #EBF5EE;
}

.screenLogin{
  width: 100vw;
  height: 100vh;
  display: flex;

}

.element{
  width: 50vw;
  height: 100vh;
}

.info{
  width: 30vw;
  position: absolute;
  transform: translate(-25%, -25%);
  top: 30%;
  left: 25%;
}

.formLogin{
  position: absolute;
  width: 30vw;
  height: 70vh;
  left: 55vw;
  top: calc(50% - 70vh/2);
  background: #1E1F1E;
  border-radius: 16px;
}